@import url('https://fonts.googleapis.com/css2?family=Jost&display=swap');

body {
    font-family: "Jost";
    letter-spacing: 1.2px;
    background-color: #002A2A;
    color: white;

}
.ParentDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
}
.childDiv {
    background-color: #a68c52;
    box-shadow: 1px 1px 20px 5px white;
    border-radius: 10px;
    padding: 15px;
    margin: 10px;
    width: auto;
    height: auto;
}
.maintTitle {
    font-size: 40px;
    text-decoration: 3px underline white;
    text-underline-offset: 2px;


}
.userListTitle {
    font-weight: 400;
}

.userDiv {
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: auto;
    height: auto;
}
.userDiv table {
    text-align: left;
    color: black;
}
table td {
    padding: 10px;
    border-radius: 2px;
}
table tr {
    margin: 5px;
    border-bottom: 1px solid black !important;
}
.DivFooter {
    justify-content: center;
    align-items: center;
    text-align: center;
}
.DivFooterChild {
    background-color: #a68c52;
    color: white;
    border-radius: 10px;
    padding: 15px;
    margin-top: 10px;
    width: auto;
    height: auto;
    transition: 0.5s ease-in-out;
}
.DivFooterChild:hover {
    background-color: #002A2A;
    box-shadow: 1px 1px 20px 5px white;
    transform: scale(1.5);
    border: 1px solid white;
    z-index: 9999;
    content: "The best group";
}
.DivFooterChild:hover + body {
    background-color: black !important;
    color: blue !important;
}




